<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to the Gumball Machine (New Improved Version)</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 align="center">Node Gumball - EC Assignment</h1>
    <form name="Gumball" method="post" action="/GumballAction">
    
  
    <input type="hidden" name="state" id="state" value='<%=state%>' />
    <input type="hidden" name="ts" id="ts" value='<%=ts%>'/>
    <input type="hidden" name="hash" id="hash" value='<%=hash%>'/>
    <input type="hidden" name="modelNumber" id="modelNumber" value='<%=modelNumber%>'/>
    <input type="hidden" name="serialNumber" id="serialNumber" value='<%=serialNumber%>'/>
    
    <p>
    <div align="center">
    <textarea name="message" cols="50" rows="15" readonly >
    <%=message%>
   
    
    </textArea>
    
    
    
    </div>
    </p>
    <p align="center">
    
    <img src='../images/giant-gumball-machine.jpg' width="385" height="316"  class='' onmouseover='Gumball'/>
    
    
    </p>
    
    <p align="center">
    <input type="submit" name="event" value="InsertQuater"/>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit" name="event" value="TurnTheCrank"/>
  </body>
</html>